
<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <title>米多多兼职</title>
    <meta name="keywords" content="米多多、快速兼职" />
    <meta name="description" content="米多多兼职" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/v1/css/base.css"/>
    <script type="text/javascript" src="/v1/js_min//third_party/WebViewJavascriptBridge.js" ></script>
    <script type="text/javascript" src="/v1/js_min//third_party/sea.js" ></script>
    <script>
        if (!window.miduoduo) { //如果app没有注入该变量，则认为不在app里
            window.miduoduo = {};
            miduoduo.os  = {};
            miduoduo.os.mddApp = false;
            miduoduo.user = {};
        } else {
            miduoduo.user = miduoduo.user ? miduoduo.user : {};
            miduoduo.os  = {};
            miduoduo.os.mddApp = true;
        }

        try{
            window.localStorage = LocalStorage;
            miduoduo.user = JSON.parse(window.localStorage.getItem("userInfo")) || miduoduo.user;
            miduoduo.os.mddApp = true;
        }catch(e){
            //alert("LocalStorage ERROR : can't find android class LocalStorage. switching to raw localStorage")
        }
        miduoduo.api_baseurl || (miduoduo.api_baseurl = "http://api.miduoduo.cn/v1/");
        miduoduo.basePath = {
            base : "/v1/",
            picUrl : "/v1/" + "img"
        };
        miduoduo.user.phone = miduoduo.user.username;

        WebViewJavascriptBridge.defaultHandler(handle_action)
       function handle_action(data, responseCallback) {
           if (data && data.action == "b_require_auth") {
               window.localStorage.setItem("userInfo", JSON.stringify(data.data));
               window.WebViewJavascriptBridge.send({action : "b_refresh_all", data : {}}, null);
           }

           var state = true;
           var rst = {
               action: 'q_before_quit',
               result: {
                   value: state,
                   message: ''
               }
           }
           responseCallback(rst);
       };

        seajs.config({
            base: "/v1/js_min/",
            alias: {
                "zepto" : "third_party/zepto.js",
                "zepto-ext" : "widget/zepto-ext.js"
            }
        })
    </script>

<link rel='stylesheet' type='text/css' href='/v1/css/index.css'/>
<script>seajs.use('index')</script>
</head>
<body >
<!--轮播-->
<div id="bannerSlider" class='imageSlide'>
</div>
<!--顶部导航-->
<div class="top-nav">
    <div class="item1" data-url="view/job/all-job.html">
        <img src="/v1/img/index/item1.png" alt=""/>
        <span>最新职位</span>
    </div>
    <div class="item2" data-url="view/job/all-job.html?type=12">
        <img src="/v1/img/index/item2.png" alt=""/>
        <span>促销专员</span>
    </div>
    <div class="item3" data-url="view/job/all-job.html?type=1">
        <img src="/v1/img/index/item3.png" alt=""/>
        <span>派单</span>
    </div>
    <div class="item4" data-url="view/job/all-job.html?type=5">
        <img src="/v1/img/index/item4.png" alt=""/>
        <span>临时工</span>
    </div>
</div>

<div class="content">
    <div class="content-bar">

    </div>
    <!--职位列表-->
    <div class="job-list-widget">
    <div class="jobs-container"></div>
    <div class="pullUp">
        加载中...
    </div>
    <div class="no-data">没有数据</div>
</div>
<!--职位列表模板-->
<script type="text/html" id="job-list-tpl">
    <? if (this.jobs && this.jobs.length > 0) {?>
    <div class="jobList">
        <? var showOthers = this.showOthers;?>
        <? this.jobs.forEach(function(e) { ?>
        <? var task = e.task ? e.task : e;?>
        <a href="view/job/job-detail.html?task=<?=task.id?>">
            <div class="part1">
                <div class="title"><?=task.title?></div>
                <?
                    var ct = new Date(task.created_time.replace(/-/g, "/"));
                    var pubDate = ct.getMonth()+1 + "-" + ct.getDate();
                ?>
            </div>
            <div class="part2">
                <div class="firstDiv"><?="<span class='job-money'>"+ (+task.salary) + "</span>元/" + (task.salary_unit_label || "?")?></div>
                <? task.labels && task.labels.forEach(function(label, i){?>
                <?if (label) {?>
                <div ><?=label?></div>
                <? } ?>
                <? }); ?>
                <div class="pub-time"><?=pubDate?></div>
            </div>
        </a>
        <? if (showOthers) {?>
        <div class="others" data-gid="<?=task.id?>">
            <div class="status"><?=e.status_label?></div>
            <div class="report"> <span style="visibility: hidden">x</span><br/>举报</div>
            <a class="tel" href="tel:<?=task.contact_phonenum?>"><span style="visibility: hidden">x</span><br/>联系企业</a>
        </div>
        <? } ?>
        <? }); ?>
    </div>
    <? } ?>
</script>
</div>
<!--banner 轮播模板-->
<script type="text/html" id="banner-slide-tpl">
    <ul>
        <? this.banners.forEach(function(e) {?>
        <li>
            <a data-tag="<?=e.tag?>" href="<?=e.url?>">
                <img src="<?=e.imgSrc?>" alt=""/>
            </a>
        </li>
        <?});?>
    </ul>
    <div class="num"></div>
</script>
</body>
</html>