<!--初始化构建dom-->
<!--滚动的的时候构建dom-->
<!--选年或月的时候-->
<div class="shade-widget"></div>
<div class="calendar-widget">
    <div class="part1">
        <div class="year">
            <div class="pre-y"><</div>
            <div class="curr-y">1987</div>
            <div class="next-y">></div>
        </div>
        <div class="month">
            <div class="pre-m"><</div>
            <div class="curr-m">8月</div>
            <div class="next-m">></div>
        </div>
    </div>
    <div class="part2">
        <div class="dayName">
            <div>日</div>
            <div>一</div>
            <div>二</div>
            <div>三</div>
            <div>四</div>
            <div>五</div>
            <div>六</div>
        </div>
        <div class="dayNum">

        </div>
        <div class="year-slide">
            <ul class="year-panel-container" ></ul>
        </div>
        <ul class="month-panel-container">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
        </ul>
    </div>
    <div class="bottom-btn">
        <div class="cancel">取消</div>
        <div class="ensure">确定</div>
    </div>
</div>
