<!--这里的类都写到base.css里-->
<!--页面加载的时候初始化遮罩-->
<div class="init-shade">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="white" style="margin-top: 15%;">
		<path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/>
		<path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z">
			<animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" />
		</path>
	</svg>

	<div class="init-shade-text">
		加载中
	</div>
</div>
<div class="shade-biz"></div>
<div id="shade-widget"></div>
<div id="toast-widget"></div>
<div id="alert-widget">
	<div class="title">提示</div>
	<div class="content">
		<table class="content-table">
			<tr>
				<!--<td><img src="/v1/img/mascot.png" alt=""/></td>-->
				<td class="content-text"></td>
			</tr>
		</table>
	</div>
	<div class="alert-widget-btn"></div>
	<div class="close-alert-dialog">x</div>
</div>
<div id="confirm-widget">
	<div class="main-panel">
		<div class="title">提示</div>
		<div class="content">
			<table class="content-table">
				<tr>
					<!--<td><img src="/v1/img/mascot.png" alt=""/></td>-->
					<td class="content-text"></td>
				</tr>
			</table>
		</div>
		<div class="btn">
			<a class="btn-sure" >确定</a>
			<a class="btn-cancel" >取消</a>
		</div>
		<div class="close-confirm-dialog">x</div>
	</div>
</div>
<!--回到顶部-->
<!--<span class="gotop" style="">
	<img src="http://i.meilishuo.net/css/images/mobile/tuan/gotop.png" />
</span>-->


</body>
</html>