
<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <title>完善资料</title>
    <meta name="keywords" content="米多多、快速兼职" />
    <meta name="description" content="米多多兼职" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/v1/css/base.css"/>
    
    
    
    <script>
        window.cookie = {
            get : function(key , cbk) {
                var val = (function(){
                    if (typeof key != 'string') key = key.toString();
                    var arr = window.document.cookie.match('(?:^|;)\\s*' + key.replace(/([-.*+?^${}()|[\]\/\\])/g, '\\$1') + '=([^;]*)');
                    return arr ? decodeURIComponent(arr[1]) : undefined;
                })();
                if (cbk) return cbk(val)
                return val
            },
            set : function(key, value, opts) {
                opts = opts || {};
                var line = key + '=' + encodeURIComponent(value);
                //line += '; domain=.miduoduo.cn';
                line += "; path=/";
                if (opts.duration) {
                    var expires = new Date;
                    expires.setTime(expires.getTime() + (opts.duration * 1000));
                    line += ';expires=' + expires.toGMTString();
                }
                return document.cookie = line + ';';
            },
            remove : function(key) {
                return this.set(key, '', {duration: -1});
            }
        }
        function apiDoamin(core) {
            if (!/[a-zA-Z]/.test(location.host)) {
                return  "http://" + core + ".guoyang.chongdd.cn";
            }
            var domainArr = location.host.split(".");
            domainArr[0] = core;
            return "http://" + domainArr.join(".");
        }
        window.MDDWeb = {};
        window.miduoduo = {};
        miduoduo.os  = {};
        miduoduo.user = {};
        miduoduo.api_baseurl = (window.MDDNative&&window.MDDNative.baseUrl()) ? window.MDDNative.baseUrl() : apiDoamin("api") + "/v1/";
        miduoduo.os.wx = navigator.userAgent.indexOf('MicroMessenger') > -1;
        miduoduo.basePath = {
            base : "mdd:///v1/",
            picUrl : "/v1/" + "img/"
        };

        
            miduoduo.os.app =  true;
            miduoduo.user = JSON.parse(window.MDDNative.user());
        

        miduoduo.user.phone = miduoduo.user.username;

        if (window.seajs) {
            seajs.config({
                base: "/v1/js_combo_min/",
                alias: {
                    "zepto" : "third_party/zepto.js",
                    "zepto-ext" : "widget/zepto-ext.js"
                }
            })
        }

    </script>

<link rel='stylesheet' type='text/css' href='/v1/css/user/short-resume.css'/>
</head>
<div class="mdd-main">
    <div class="tips">填写个人资料，完成注册</div>
    <div class="table-wrap" >
        <table class="table1">
            <tr class="name-col">
                <td class="user-info-title ">姓名</td>
                <td class="user-info-val no-widget">
                    <input class="js-col-input" name="name" type="text" id="name"/>
                </td>
            </tr>
            <tr class="dep-bottom" data-wc=".bottom-sex">
                <td class="user-info-title" >性别</td>
                <td class="user-info-val" id="gender_label"></td>
            </tr>
            <tr class="dep-bottom" data-wc=".bottom-edu">
                <td class="user-info-title">学历</td>
                <td class="user-info-val" id="degree_label"></td>
            </tr>
            <tr class="set-address name-col" data-wc=".right-map" style="display: none">
                <td class="user-info-title no-required">城市</td>
                <td class="user-info-val no-widget"><input class="location-city js-col-input" type="text"/></td>
            </tr>
        </table>
    </div>
    <!--<div class="tips">提交验证资料，提升简历真实度，帮你快速上岗！</div>
    <div class="table-wrap" >
        <table class="table3">
            <tr>
                <td class="user-info-title no-required">健康证</td>
                <td class="user-info-val"></td>
            </tr>
        </table>
    </div>-->


    <div class="submit-btn">提交</div>

</div>

<!--控件-->

<div class="bottom-widget bottom-sex">
    <div class="bottom-widget-content" id="sex-widget-content" name="gender">
        <div class="widget-content-item" data-val="0">男</div>
        <div class="widget-content-item" data-val="1">女</div>
    </div>
</div>
<div class="bottom-widget bottom-edu">
    <div class="bottom-widget-content" id="edu-widget-content" name="degree">
        <div class="widget-content-item" data-val="1">初中</div>
        <div class="widget-content-item" data-val="2">高中／中专</div>
        <div class="widget-content-item" data-val="3">大专</div>
        <div class="widget-content-item" data-val="4">本科</div>
        <div class="widget-content-item" data-val="5">研究生</div>
        <div class="widget-content-item" data-val="6">博士生</div>
    </div>
</div>



<script type="text/html" id="job-type-list-tpl">
<div class="sel-job-type right-widget">
    <div class="type-tips">
        请选择您擅长的兼职类型（可多选）！
    </div>
    <div class="type-content" id="type-content">
        <div id="job-type-scroll-container" >
        <? var as = this.as;?>
        <? this.list.forEach(function(e) {?>
        <div class="type-item <?=(as.indexOf(e.name) > -1 ? 'act' : '')?>" data-code="<?=e.id?>">
            <?=e.name?>
        </div>
        <? }); ?>
        <div class="job-type-submit-btn-ph">提交</div>
        </div>
    </div>
    <div class="job-type-submit-btn">
        提交
    </div>

</div>
</script>



<!--这里的类都写到base.css里-->
<!--页面加载的时候初始化遮罩-->
<div class="init-shade">
</div>
<div class="shade-biz"></div>
<div id="shade-widget"></div>
<div id="toast-widget"></div>
<div id="alert-widget">
	<div class="title">提示</div>
	<div class="content">
		<table class="content-table">
			<tr>
				<td><img src="/v1/img/mascot.png" alt=""/></td>
				<td class="content-text"></td>
			</tr>
		</table>
	</div>
	<div class="alert-widget-btn"></div>
	<div class="close-alert-dialog">x</div>
</div>
<div id="confirm-widget">
	<div class="main-panel">
		<div class="title">提示</div>
		<div class="content">
			<table class="content-table">
				<tr>
					<td><img src="/v1/img/mascot.png" alt=""/></td>
					<td class="content-text"></td>
				</tr>
			</table>
		</div>
		<div class="btn">
			<a class="btn-sure" >确定</a>
			<a class="btn-cancel" >取消</a>
		</div>
		<div class="close-confirm-dialog">x</div>
	</div>
</div>
<!--回到顶部-->
<!--<span class="gotop" style="">
	<img src="http://i.meilishuo.net/css/images/mobile/tuan/gotop.png" />
</span>-->
<script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=GB9AZpYwfhnkMysnlzwSdRqq&v=1.0"></script>
<script src="/v1/js_combo_min/user/short-resume.js" data-main="user/short-resume" type="text/javascript"></script>
</body>
</html>