
<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <meta name="keywords" content="米多多、快速兼职" />
    <meta name="description" content="米多多兼职" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/v1/css/base.css"/>
    
    
    
    <script>
        window.cookie = {
            get : function(key , cbk) {
                var val = (function(){
                    if (typeof key != 'string') key = key.toString();
                    var arr = window.document.cookie.match('(?:^|;)\\s*' + key.replace(/([-.*+?^${}()|[\]\/\\])/g, '\\$1') + '=([^;]*)');
                    return arr ? decodeURIComponent(arr[1]) : undefined;
                })();
                if (cbk) return cbk(val)
                return val
            },
            set : function(key, value, opts) {
                opts = opts || {};
                var line = key + '=' + encodeURIComponent(value);
                //line += '; domain=.miduoduo.cn';
                line += "; path=/";
                if (opts.duration) {
                    var expires = new Date;
                    expires.setTime(expires.getTime() + (opts.duration * 1000));
                    line += ';expires=' + expires.toGMTString();
                }
                return document.cookie = line + ';';
            },
            remove : function(key) {
                return this.set(key, '', {duration: -1});
            }
        }
        function apiDoamin(core) {
            if (!/[a-zA-Z]/.test(location.host)) {
                return  "http://" + core + ".guoyang.chongdd.cn";
            }
            var domainArr = location.host.split(".");
            domainArr[0] = core;
            return "http://" + domainArr.join(".");
        }
        window.MDDWeb = {};
        window.miduoduo = {};
        miduoduo.os  = {};
        miduoduo.user = {};
        miduoduo.api_baseurl = (window.MDDNative&&window.MDDNative.baseUrl()) ? window.MDDNative.baseUrl() : apiDoamin("api") + "/v1/";
        miduoduo.os.wx = navigator.userAgent.indexOf('MicroMessenger') > -1;
        miduoduo.basePath = {
            base : "mdd:///v1/",
            picUrl : "/v1/" + "img/"
        };

        
            miduoduo.os.app =  true;
            miduoduo.user = JSON.parse(window.MDDNative.user());
        

        miduoduo.user.phone = miduoduo.user.username;

        if (window.seajs) {
            seajs.config({
                base: "/v1/js_combo_min/",
                alias: {
                    "zepto" : "third_party/zepto.js",
                    "zepto-ext" : "widget/zepto-ext.js"
                }
            })
        }

    </script>

<link rel='stylesheet' type='text/css' href='/v1/css/user/login.css'/>

</head>
<body>
<!--
<div id="wechat-top-bar">
    <div id="page-back">
        <span style="visibility: hidden"><</span>
    </div>
    登录
    <a id="index-page" href="/v1/view/index.html">首页</a>
</div>
<div class="we-chat-top-bar-placeholder">

</div>-->

<div class="mdd-main">
    <div class="top">
        <div>
            <span class="top-act">普通登录</span>
        </div>
        <div>
            <span>手机验证码登录</span>
        </div>
    </div>
    <ul class="form-area">
        <li class="text-login form-area-act">
            <div class="text-login-tel">
                <input class="text-login-tel-input" type="tel" placeholder="输入注册手机号"/>
            </div>
            <div class="text-login-passwd">
                <input class="text-login-passwd-input" type="password" placeholder="输入密码"/>
            </div>
            <div class="text-login-go">
                <a class="text-login-go-reg" href="/v1/view/user/reg.html">立即注册</a>
                <a class="text-login-go-passwd" href="/v1/view/user/find-password.html">找回密码</a>
            </div>
        </li>
        <li class="tel-login">
            <div class="tel-login-tel">
                <input class="tel-login-tel-input" type="tel" placeholder="输入注册手机号"/>
            </div>
            <div class="tel-login-passwd">
                <input class="tel-login-passwd-input" type="text" placeholder="输入验证码"/>
                <div class="auth-code-btn">获取验证码</div>
            </div>
        </li>
    </ul>
    <div class="login-btn">
        登录
    </div>
</div>
<!--这里的类都写到base.css里-->
<!--页面加载的时候初始化遮罩-->
<div class="init-shade">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="white" style="margin-top: 15%;">
		<path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/>
		<path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z">
			<animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" />
		</path>
	</svg>

	<div class="init-shade-text">
		加载中
	</div>
</div>
<div class="shade-biz"></div>
<div id="shade-widget"></div>
<div id="toast-widget"></div>
<div id="alert-widget">
	<div class="title">提示</div>
	<div class="content">
		<table class="content-table">
			<tr>
				<!--<td><img src="/v1/img/mascot.png" alt=""/></td>-->
				<td class="content-text"></td>
			</tr>
		</table>
	</div>
	<div class="alert-widget-btn"></div>
	<div class="close-alert-dialog">x</div>
</div>
<div id="confirm-widget">
	<div class="main-panel">
		<div class="title">提示</div>
		<div class="content">
			<table class="content-table">
				<tr>
					<!--<td><img src="/v1/img/mascot.png" alt=""/></td>-->
					<td class="content-text"></td>
				</tr>
			</table>
		</div>
		<div class="btn">
			<a class="btn-sure" >确定</a>
			<a class="btn-cancel" >取消</a>
		</div>
		<div class="close-confirm-dialog">x</div>
	</div>
</div>
<!--回到顶部-->
<!--<span class="gotop" style="">
	<img src="http://i.meilishuo.net/css/images/mobile/tuan/gotop.png" />
</span>-->

<script src="/v1/js_combo_min/user/login.js" data-main="user/login" type="text/javascript"></script>
</body>
</html>