
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-right:before { content: "\e613"; }
.icon-shijian:before { content: "\e614"; }
.icon-weizhi:before { content: "\e615"; }
.icon-wanchengduigou:before { content: "\e616"; }
.icon-shijian1:before { content: "\e617"; }
.icon-location:before { content: "\e618"; }
.icon-xiaoxiguanli:before { content: "\e619"; }
.icon-weizhi1:before { content: "\e61a"; }
.icon-duigou:before { content: "\e61b"; }
.icon-icon:before { content: "\e61c"; }
.icon-weizhi2:before { content: "\e61d"; }
.icon-xiaoxi:before { content: "\e61e"; }
.icon-nextemailkaobei:before { content: "\e600"; }
.icon-shixi:before { content: "\e601"; }
.icon-zuixin1:before { content: "\e602"; }
.icon-rijiegong:before { content: "\e603"; }
.icon-shuqigong:before { content: "\e604"; }
.icon-shangyiye:before { content: "\e605"; }
.icon-shixi1:before { content: "\e606"; }
.icon-weishoucang:before { content: "\e607"; }
.icon-x:before { content: "\e608"; }
.icon-xiala:before { content: "\e609"; }
.icon-xiayiye:before { content: "\e60a"; }
.icon-fanhui:before { content: "\e60b"; }
.icon-gengduo:before { content: "\e60c"; }
.icon-weishoucang1:before { content: "\e60d"; }
.icon-xiaoxixin:before { content: "\e60e"; }
.icon-jubao:before { content: "\e60f"; }
.icon-location1:before { content: "\e610"; }
.icon-phone:before { content: "\e611"; }
.icon-shijian1:before { content: "\e612"; }
.icon-shape8:before { content: "\e61f"; }
.icon-shape56:before { content: "\e620"; }
