<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <title>米多多兼职 </title>
    <meta name="keywords" content="米多多、快速兼职" />
    <meta name="description" content="米多多兼职" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/v1/css/base.css"/>
    <script type="text/javascript" src="/v1/js_min//third_party/WebViewJavascriptBridge.js" ></script>
    <script type="text/javascript" src="/v1/js_min//third_party/sea.js" ></script>
    <script>
        if (!window.miduoduo) { //如果app没有注入该变量，则认为不在app里
            window.miduoduo = {};
            miduoduo.os  = {};
            miduoduo.os.mddApp = false;
            miduoduo.user = {};
        } else {
            miduoduo.user = miduoduo.user ? miduoduo.user : {};
            miduoduo.os  = {};
            miduoduo.os.mddApp = true;
        }

        try{
            window.localStorage = LocalStorage;
            miduoduo.user = JSON.parse(window.localStorage.getItem("userInfo")) || miduoduo.user;
            miduoduo.os.mddApp = true;
        }catch(e){
            //alert("LocalStorage ERROR : can't find android class LocalStorage. switching to raw localStorage")
        }
        miduoduo.api_baseurl || (miduoduo.api_baseurl = "http://api.miduoduo.cn/v1/");
        miduoduo.basePath = {
            base : "/v1/",
            picUrl : "/v1/" + "img"
        };
        miduoduo.user.phone = miduoduo.user.username;

        WebViewJavascriptBridge.defaultHandler(handle_action)
       function handle_action(data, responseCallback) {
           if (data && data.action == "b_require_auth") {
               window.localStorage.setItem("userInfo", JSON.stringify(data.data));
               location.reload();
           }

           var state = true;
           var rst = {
               action: 'q_before_quit',
               result: {
                   value: state,
                   message: ''
               }
           }
           responseCallback(rst);
       };

        seajs.config({
            base: "/v1/js_min/",
            alias: {
                "zepto" : "third_party/zepto.js",
                "zepto-ext" : "widget/zepto-ext.js"
            }
        })
    </script>

<link rel='stylesheet' type='text/css' href='/v1/css/user/resume-preview.css'/>
<script>seajs.use('user/resume-preview')</script>
</head>
<body>
<script type="text/html" id="main-tpl">
    <? var user = this.user;?>
    <div class="main1">

        <ul class="resume-part1">
            <!--<li >
                <div class="title">照片</div>
                <div class="con ">
                    <img src="<?=user.avatar?>" alt=""/>
                </div>
            </li>-->
            <li>
                <div class="title">姓名</div>
                <div class="con">
                    <?=user.name?>
                </div>
            </li>
            <li>
                <div class="title ">出生年月</div>
                <div class="con ">
                    <?=user.birthdate ?>
                </div>
            </li>
            <li>
                <div class="title">性别</div>
                <div class="con sex">
                    <?=user.gender_label ?>
                </div>
            </li>
            <li>
                <div class="title">身高</div>
                <div class="con tag">
                    <?=user.height ?>
                </div>
            </li>
        </ul>

        <ul class="resume-part2">
            <li>
                <div class="title">学校</div>
                <div class="con ">
                    <?=user.height ?>
                </div>
            </li>
            <li>
                <div class="title">居住地点</div>
                <div class="con ">
                    <?=user.home_address?>
                </div>
            </li>
        </ul>
    </div>

    <div class="main2">
        <ul class="resume-part3">
            <li class="sub1">
                <div class="title">可兼类别</div>
                <div class="con service-type-show">
                    <? user.service_types && user.service_types.forEach(function(type) {?>
                    <?=type.name?>
                    <? });?>
                </div>
            </li>
            <li class="sub2">
                <div class="title">更在意的</div>
                <div class="con">

                </div>
            </li>
            <!--<li class="sub3">
                <div class="title">微信账号</div>
                <div class="con">
                </div>
            </li>-->
        </ul>
        <ul class="resume-part4">
            <li>
                <div class="title">
                    <div class="t1">可兼职时间</div>
                </div>
                <div class="con">
                    <?
                        var indexLen = 7;
                        var numConvert = ["一", "二", "三", "四", "五", "六", "日"];
                        for (var i = 0; i < indexLen; i++ ) {
                    ?>
                    <div class="dateCol <?if(i==0){?>first-col<?}?>">
                        <div class="dateTitle">周<?=numConvert[i]?></div>
                        <div class="time">上午</div>
                        <div class="time">下午</div>
                        <div class="time">晚上</div>
                    </div>
                    <? } ?>
                </div>
            </li>
        </ul>
        <div class="submit-btn">修改简历</div>
    </div>
</script>
</body>
</html>